:root{
  --green-color: #65C466;
  --dark-grey: #414141;
  --white-text-color: #FFFFFF;
  --beige-color: #E8E2D5;
  --star-color: #F2DF33;
  --footer-color: #243246;
  --footer-text-color: #959AA6;
  

}

