:root {
  --green-color: #65c466;
  --dark-grey: #414141;
  --medium-grey: #696969;
  color: #a3a3a3;
  --white-text-color: #ffffff;
  --beige-color: #e8e2d5;
  --star-color: #f2df33;
  --footer-color: #243246;
  --footer-text-color: #959aa6;
  --green-hover-color: #60a861;
  --form-text-color: #c2c2c2;

  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
p {
  color: var(--dark-grey);
}
.p-font-size {
  font-size: 0.8rem;
  line-height: 1rem;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-end {
  justify-content: flex-end;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.justify-space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.align-self-start {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: flex-end;
}
.mulish-extralight {
  font-family: "Mulish", sans-serif;
  font-style: italic;
  font-weight: 200;
}
.mulish-medium {
  font-style: normal;
  font-weight: 500;
}
.mulish-bold {
  font-style: normal;
  font-weight: 700;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
.uppercase {
  text-transform: uppercase;
}
.text-align-right {
  text-align: right;
}
.margin-auto {
  margin: auto;
}
.margin-right {
  margin-right: 20px;
}
.header-line {
  display: none;
  width: 100%;
  height: 1px;
  margin: auto;
  margin-top: 0.625rem;
  background-color: #c4c4c4;
}
.article {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
}
.article-header {
  font-family: "TrajanPro3";
  color: var(--green-color);
}
.article-header-size {
  margin-bottom: 1rem;
  font-size: 1.375rem;
  line-height: 1.625rem;
}
.btn {
  display: inline-block;
  border: 2.84276px solid var(--green-color);
  border-radius: 2.76px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background-color: var(--green-color);
  color: var(--white-text-color);
  cursor: pointer;
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"]::after {
  content: url(./../icons/Checkbox_320.svg);
  visibility: visible;
}
input[type="checkbox"]:checked::after {
  content: url(./../icons/Checkbox_checked_320.svg);
}
.transform-reverse {
  transform: scaleX(-1);
}

@media screen and (min-width: 768px) {
  .justify-space-between-md {
    justify-content: space-between;
  }
  .flex-row-md {
    flex-direction: row;
  }
  .header-line {
    display: block;
  }
  .btn {
    border-radius: 3.62px;
  }
  input[type="checkbox"] {
    align-self: flex-start;
  }
  input[type="checkbox"]::after {
    content: url(./../icons/Checkbox_768.svg);
  }
  input[type="checkbox"]:checked::after {
    content: url(./../icons/Checkbox_checked_768.svg);
  }
}
@media screen and (min-width: 1024px) {
  .justify-space-between-lg {
    justify-content: space-between;
  }
  .justify-center-lg {
    justify-content: center;
  }
  .justify-space-evenly-lg {
    justify-content: space-evenly;
  }
  .justify-space-around-lg {
    justify-content: space-around;
  }
  .header-line {
    display: block;
  }
  .article-header-size {
    margin-bottom: 1rem;
    font-size: 1.753rem;
    line-height: 2.1rem;
  }
  .btn {
    border-radius: 4px;
  }
  input[type="checkbox"]::after {
    content: url(./../icons/Checkbox_1024.svg);
  }
  input[type="checkbox"]:checked::after {
    content: url(./../icons/Checkbox_checked_1024.svg);
  }
}

@media screen and (min-width: 1336px) {
  .p-font-size {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .justify-space-between-xl {
    justify-content: space-between;
  }
  .justify-center-xl {
    justify-content: center;
  }
  .justify-space-evenly-xl {
    justify-content: space-evenly;
  }
  .justify-space-around-xl {
    justify-content: space-around;
  }
  .burger-none {
    display: none;
  }
  .header-line {
    display: block;
  }
  .article {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.4rem;
  }
  .article-header-size {
    margin-bottom: 1rem;
    font-size: 2.18rem;
    line-height: 2.62rem;
  }
  .btn {
    border-radius: 5px;
  }
  input[type="checkbox"]::after {
    content: url(./../icons/Checkbox_1336.svg);
  }
  input[type="checkbox"]:checked::after {
    content: url(./../icons/Checkbox_checked_1336.svg);
  }
}

@media screen and (min-width: 1920px) {
  .p-font-size {
    font-size: 1.421rem;
    line-height: 1.783rem;
  }
  .burger-none {
    display: none;
    width: 103.93rem;
  }
  .header-line {
    display: block;
  }
  .article {
    margin-top: 1.5rem;
    font-size: 1.59rem;
    line-height: 2rem;
  }
  .article-header-size {
    margin-bottom: 1rem;
    font-size: 3.1rem;
    line-height: 3.73rem;
  }
  .btn {
    border-radius: 7.10691px;
  }
  input[type="checkbox"]::after {
    content: url(./../icons/Checkbox_1920.svg);
  }
  input[type="checkbox"]:checked::after {
    content: url(./../icons/Checkbox_checked_1920.svg);
  }
  .margin {
    margin-left: 20px;
  }
}
